*{
  margin:0;
  font-family: 'Space Grotesk', sans-serif;
  color: #5E6472;
}

main{
  display:flex;
  width:100%;
  flex: 1;
}

body {
 background-color: #FFE5D9; 
}

header {
  background-color:#FAE1DD;
  flex: 1;
}

.row{
  padding: 1rem;
  display:flex;
  padding:0;
}

.col{
  flex: 1;
  padding: 0.5rem;
}

.col-3{
  flex: 1;
  padding: 0.5rem;
  max-width: 33.33%;
}

.col-3 img{
  padding-top:1rem;
  padding-bottom:1rem;
  margin: 0;
  max-width:100%;
  height:auto;
}
.col-3 img:hover{
  transform: translateY(-3px);
}

.col2{
  max-width:50%;
  display:inline-block;
  align-items: right;
  min-width:40%;
}

.tagline{
  align-content: center;
  text-align: center;
  padding: 3rem;
  flex: 1;
}


.intro{
  background-color:#ffcbc2;
  padding-bottom:0;
  align-content: center;
  text-align: left;
  margin-bottom:0;
  flex: 1;
}
.button-block{
  align-items:center;
  text-align:center;
  flex: 1;
  padding:2rem;
}

.hover-gallery{
  background-color:#FAE1DD;
  margin-top:0;
  flex: 1;
}

.box-of-text{
  padding:2rem;
  margin: 1rem;
  flex: 1;
}

.parallax-gallery{
  margin-top:1rem;
  padding:1rem;
  background-color:#FFD7BA;
}

.left{
  align-content:left;
  align-text: left;
  padding:1rem;
  display:flex;
}

.left img{
  height:200px;
  align-content:left;
  padding:2rem;
  transition-duration:.5s;
  padding-left:10%;
}

.left img:hover{
  scale:110%
}

.left p{
  align-content: center;
  padding:.5rem;
}

.right{
  align-content:right;
  padding:1rem;
  display:flex;
  flex-direction: row-reverse;
  border-top: 2px solid #FEC5BB;
  border-bottom: 2px solid #FEC5BB;
}

.right img{
  height:200px;
  align-content: right;
  padding:2rem;
  transition-duration:.5s;
  padding-right:10%;

}
.right img:hover{
  scale:110%
}

.right p{
  align-content: center;
  padding:.5rem;
}

footer{
  background-color: #D8E2DC;
  align-content:center;
  text-align:left;
  padding:1rem;
}


h1 {
  color: #5E6472;
  align-content: left;
  text-align: left;
  margin: 1rem;
  padding: 1rem;
}

h6{
  padding:0;
  margin-left:1rem;
}

button{
  background-color: #D8E2DC;
  border-radius: 50px;
  align-content: center;
  align-items:center;
  justify-content:center;
  margin-bottom: 5%;
  margin-top: 2rem;
  max-with:100%;
  padding: .5rem 2rem;
  border: 2px #c2c2c2 solid;
  cursor: pointer;
}

button:hover {
  background-color: #E8E8E4;
  transform: translateY(-3px);

}

button-text{
  color: white;
}

button:hover button-text {
}

#sheepimg{
  height:12rem;
  width: auto;
  display: block;
  align-item: center;
  margin: 0 auto;
  max-width:none;
  margin:0;
}

#sheepimg:hover{
  transform: translateY(-4px);
}

.logo{
  height: 70px;
  width: auto;
  padding:0;
  margin:0;
  max-width:none;
}



.logo:hover{
  transform: translateY(-4px);
}

img{
  margin:0;
  padding:0;
  max-width: 100%;
  height: auto;
}


nav {
  padding:1rem;
  background: #D8E2DC;
  margin:0;
  max-width:100%;
}

nav ul{
  display:flex;
  align-items: center;
  padding: .25rem;
  justify-content: flex-start;
}

nav ul li{
  padding:.5rem;
  padding-right:2.5rem;
  list-style-type: none;
}



ul li{/*footer links*/
  display:flex;
  align-items: center;
  padding: .25rem;
  justify-content: flex-start;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #5E6472;
}
